*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 40px;
    background-color: rgb(3, 69, 100);
}

h1{
    text-align: center;
    color: floralwhite;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    opacity: 0.9;
    border-radius: 20px;
    margin:0 20px;
    display: inline-block;
    
}


a{
    text-decoration: none;
    color:white;
}

.disNone{

    display: none;
}